/data/raw/*
!/data/raw/.gitkeep
/data/preprocessed/*
!/data/preprocessed/.gitkeep
/data/processed/*
!/data/processed/.gitkeep

/logs/*
!/logs/.gitkeep

/notebooks/*
!/notebooks/.gitkeep

/plots/*
!/plots/.gitkeep
